.root {
    -fx-base: #182837;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef;
    -fx-focused-text-base-color : ladder(
        -fx-selection-bar,
        -fx-light-text-color 45%,
        -fx-dark-text-color 46%,
        -fx-dark-text-color 59%,
        -fx-mid-text-color 60%
        );
    -fx-focused-mark-color: -fx-focused-text-base-color ;   
}
.button{
    -fx-background-radius: 0;
    -fx-background-color: #00576d;
    -fx-text-color: white;
    -fx-border-color: #00C6C3;
    -fx-border-width: 0;
}
.button:hover{
    -fx-background-color: #007593;
}

.vbox{
    -fx-background-color: #003d30;
}
#topBar{
    -fx-background-color: #36393F;
}
#leftBar{
    -fx-background-color: #36393F;
}
.progress-indicator .percentage {
    -fx-fill: white;
}
.progress-indicator .indicator {
    -fx-background-color: transparent ;
    -fx-border-radius: 10px;
    -fx-border-color: green;
}
.progress-indicator  {
    -fx-accent: #2ea664 ;
}
.default-color0.chart-series-line { -fx-stroke: #2ea664; }
.default-color1.chart-series-line { -fx-stroke: #d66248; }
.default-color0.chart-line-symbol{-fx-background-color: #2ea664, #2ea664;}
.default-color1.chart-line-symbol{-fx-background-color: #d66248, #d66248;}

.chart-legend {
   -fx-background-color:  rgb(0,87,109,0.3);
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #00576d ;
    -fx-background-radius:0;
    -fx-text-fill: white;
}
.AnchorPane{
    -fx-border-color: black;
    -fx-border-width: 0.4;
}
.list-cell{
    -fx-text-fill: white;
}
.list-cell:even{
    -fx-text-fill: white;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:#00576d; 
}
.help{
    -fx-cursor: hand;
}
.progress-bar{
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: white;
}
.progress-bar > .track {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-color: white;
    -fx-background-radius: 0;
}
.btnHelp{
    -fx-background-radius: 25%;
}
.lblDisclaimer{
    -fx-text-fill: #f74a4d;
}
.passwordGenRectangle{
    -fx-fill:#526f8a;
}